<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2017_11_10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BDC9A771FB561580093946F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDC9A8E1FB561580093946F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDC9A991FB561580093946F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
